<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DSK</title>
</head>
<body>
    <h1>Loading, Please wait ...</h1>
    <!-- <h1>Oh ! snap,</h1>
    <h5>Something went wrong...</h5> -->
    <!-- <p> 
        <a href="https://www.{{data.url}}/login"><button>Click here</button></a> to login again....
    </p> -->

<script>
    setTimeout(function()
    {
        window.location.replace("https://www.{{data.url}}/login")
         }, 1000);
</script>
</body>
</html>